<ul class="media-list">
  <% replies.each do |reply| %>
    <% trainer = reply.trainer %>
    <li class="media">
      <div class="media-left">
        <img src="/images/tr_logo.png" width="50" height="50" alt="" class="img-circle">
      </div>
      <div class="media-body">
        <div>
          <%= link_to trainer.nickname, trainer_path(trainer) %> <span class="text-muted">投稿日 <%= reply.created_at.in_time_zone('Tokyo').strftime('%F') %></span>
        </div>
        <div>
          <p><%= reply.content %></p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate replies %>
</ul>