<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>クリスプ・トレーニングシステム</h1>
          <% unless te_logged_in? || tr_logged_in? %>
            <%= link_to 'トレーニングを始める', te_signup_path, class: 'btn btn-success btn-lg' %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>