- content_for :cover do
  .cover
    .cover-inner
      .cover-contents
        h1
          | トレーニー一覧
- if trainees.any?
  .user-profile
    .panel.panel-default
      .panel-heading
        | 検索
      .panel-body
        = form_tag(trainees_path, method: :get, class: 'form-inline') do
          .form-group
            = select_tag :branchname, options_for_select(['全店','CR麻布十番店','CR恵比寿店','CR六本木ヒルズ店','CR代官山店','CR広尾店']), :prompt => "所属店舗で探す", class: 'form-control'
          = button_tag( class: "btn btn-default") do
            = content_tag :span, "", class: "glyphicon glyphicon-search"
  .trainee
    table.table.table-bordered
      tr
        th
          | ID
        th[width=""]
          | 所属店舗
        th[width=""]
          | 名前(ニックネーム)
        th[width="120"]
          | 専任トレーナー
        th
          | 未返信
        th
          | 最終更新
        th
          | TR開始
        th
          | 進捗
          br
          |  (セルフ)
        th
          | 進捗%
          br
          |  (MASTER)
        th
          | MASTER
        - if admin_logged_in?
          th
            | 有効
          th
            | 削除            
      - checkminus = (Checklist.where(chapter: $chap1).count * 2) + (Checklist.where(chapter: $chap9).count *2)
      - listcount = Checklist.count
      - @trainees.each do |trainee|
        - te_checkcount = TeCheck.where(trainee_id: trainee.id).count
        - tr_checkcount = TrCheck.where(trainee_id: trainee.id).count
        - s_percent = te_checkcount.to_f / (listcount.to_f * 3 - checkminus) * 100
        - m_percent = tr_checkcount.to_f / listcount.to_f * 100
        - start_date = TeCheck.where(trainee_id: trainee.id)
        - start_date = Time.now - start_date.first.created_at.in_time_zone('Tokyo') if start_date.first
        - start_date = start_date.round(0) / 60 / 60 / 24 unless start_date.blank?
        - start_date = '-' if start_date.blank?
        tr
          td
            = trainee.id
          td
            = trainee.branch
          td
            = trainee.name
            |  ( 
            = trainee.nickname
            |  )
          td.check
            = Trainer.find(trainee.trainer_id).nickname unless trainee.trainer_id.nil?
          td.check.imp
            = Comment.where(trainee_id: trainee.id, reply: nil).count
          td.check
            = (Time.now - TeCheck.where(trainee_id: trainee.id).order(:updated_at).last.updated_at).round(0) / 3600 unless TeCheck.where(trainee_id: trainee.id).blank?
            |  時間前
          td.check
            = start_date
            | 日前
          td.check
            = s_percent.round(0) unless s_percent.nan?
            | %
          td.check
            = m_percent.round(0) unless s_percent.nan?
            | %
          td.check
            = link_to '', trainee, class: 'glyphicon glyphicon-fire'
          - if admin_logged_in?
            td.check.imp
              - if trainee.enable
                |  Y 
            td.check.imp
              = link_to '削除', trainee, method: :delete, data: { confirm: '本当にトレーニーを削除してよろしいですか？全てのトレーニーとチェックのデータが失われ復元することはできません！' }
  = paginate trainees
