/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@charset "utf-8";

/* body */
body {
  background: #f2f2f2;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;

}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  background: url("/images/cover-bg.png") center center no-repeat;
  background-size: cover;
  
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  font-family: 'Graduate', cursive;

}
.cover .cover-inner .cover-contents h1, h4 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}
.cover .cover-inner .cover-contents h5 {
  margin: 20px 0 0 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}

/* users */
.user-profile .name {
}
.user-profile .name h1 {
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
}
.user-profile .status ul {
  margin: 0 auto 10px;
  padding: 0;
  display: table;
}
.user-profile .status ul li {
  width: 160px;
  padding: 5px 0;
  border-right: 1px solid #ddd;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #777;
}
.user-profile .status ul li:last-child {
  border: none;
}
.user-profile .status ul li .status-label {
  font-size: 12px;
}
.user-profile .status ul li .status-value {
  font-size: 18px;
}
.user-profile .status ul li .status-max {
  font-size: 20px;
  color: #c00;
}

/*
セパレータ・区切り線
*/
.line {                              /* hrタグに付ける（最大3ライン対応の水平罫線） */
    display:block;
    border:none;                     /* 左右のボーダーを消すために必要 */
    margin:100 0 100 0;
    padding:0;
    height:1px;                      /* 上線px＋中線px＋下線px＝高さpx */
    border-top:solid 1px #CCC;       /* 上線の色、pxを指定 */
    background:none;                 /* 中線の色を指定 */
    border-bottom:none;              /* 下線の色、pxを指定 */
    width: 100%;
}
.line_s {                              /* hrタグに付ける（最大3ライン対応の水平罫線） */
    display:block;
    width: 50%;
    border:none;                     /* 左右のボーダーを消すために必要 */
    margin:100 0 100 0;
    padding:0;
    height:1px;                      /* 上線px＋中線px＋下線px＝高さpx */
    border-top:solid 1px #CCC;       /* 上線の色、pxを指定 */
    background:none;                 /* 中線の色を指定 */
    border-bottom:none;              /* 下線の色、pxを指定 */
}


/*
チェックリストテーブル
*/

.admin .table th {
    font-size: 12px;
    vertical-align: bottom;
    background: #dcdcd1;
    border-left: 1px solid #ccc;
    border-bottom: 3px solid #c00;
    text-align: center;
    height: 20px;
}
.admin .table td {
    font-size: 12px;
    background: #eee;
    border: 1px solid #ccc;
    text-align: left;
    height: 35px;
    line-height: 35px;
    color: #696969;
}
.admin .table .op {
    text-align: center;
    width: 10px;
    vertical-align: central;

}
.admin .table .opp {
    font-size: 2px;
    text-align: center;
    width: 5px;
    vertical-align: central;

}
.trainee .table {
}

.trainee .table th {
    font-size: 12px;
    vertical-align: bottom;
    background: #dcdcd1;
    border-left: 1px solid #ccc;
    border-bottom: 3px solid #c00;
    text-align: center;
    height: 20px;
}
.trainee .table .teheader {
    color: #5e5e5e;
    border-style: none;
    background: #d7d7d7;
    vertical-align: central;
    font-size: 14px;
    letter-spacing: 4px;
    text-align: left;
    height: 30px;
    line-height: 30px;
}
.trainee .table  td {
    font-size: 12px;
    background: #eee;
    border: 1px solid #ccc;
    text-align: left;
    height: 30px;
    line-height: 30px;
    color: #696969;
}

.trainee .table .check {
    text-align: center;
    width: 80px;
    vertical-align: central;
    
}
.trainee .table .check.imp {
    background-color: #fbfbfb;
    font-weight: bold;
    color: red;
}

.trainee .table .check.none {
    background-color: #D8D8D8;
    color: darkgrey;
}

.trainee .table .none {
    background-color: #D8D8D8;
    color: darkgrey;
}

.trainee .table .tcheck {
    text-align: center;
    width: 130px;
    vertical-align: central;
    
}
.trainee .table .bottom {
    border-bottom: 0px;
    vertical-align: bottom;
}
.trainee .table .top {
    border-bottom: 1px solid #ccc;
    background: #bdb76b;
    vertical-align: bottom;
    text-align: left;
}
.trainee .table .head {
    border-style: none;
    background: #d7d7d7;
    vertical-align: central;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: 'Graduate', cursive;
    text-align: left;
}
.trainee .table .re {
    border-style: none;
    background: #d7d7d7;
    vertical-align: central;
    text-align: center;
}

.btn.active {
    color: #ffffff;
    background-color: #a4a4a4;
}

.panel .panel-heading {
    background-color: #d7d7d7;
    font-weight: bold;
}
.form-control {
    color: #5e5e5e;
    font-size: 12px;
}
.form-control.media {
    height: 60px;
    padding: 0;
}
.glyphicon-search {
    color: #5e5e5e;
}
.row {
  width: 80%;
  margin: auto; 
}

table .comment {
    background-color: #f2f2f2;
    border: 0px;
    padding: 10px;
}
tr .comment {
    border: 0px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}  
td .comment {
    padding: 10px;
    vertical-align: top;
}
div .media-body {
    font-size: 12px;
    color: #5e5e5e;
    padding: 5px;
    width: 400px;
    background-color: #fbfbfb;
    border-radius: 10px;
    height: 60px;
}

div .media-body.tr {
    background-color: #d8d8d8;
}

.media-post {
    font-size: 12px;
    font-weight: bold;
    color: #5e5e5e;
    width: 100%;
}

.table .teheader {
    color: #5e5e5e;
    border-style: none;
    background: #d7d7d7;
    vertical-align: central;
    font-size: 14px;
    letter-spacing: 4px;
    text-align: left;
}
.table .tetop {
    color: #5e5e5e;
    border-style: none;
    background: #ffffff;
    vertical-align: central;
    font-size: 12px;
    letter-spacing: 4px;
    text-align: left;
    text-align: center;

}

.table .temid {
    border-right: 1px dashed #ccc;
}
